@model List<InspectionWeb.Models.ViewModel.SolutionViewModel>

@{
    ViewBag.Title = "常用解決方法列表";
}

<!-- data table -->
<script src="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.css">
 <!-- column order --> 
<script src="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.css">


<div class="content-wrapper">
    <section class="content-header" style="margin-bottom: 15px;">
        <ol class="breadcrumb">
            <li><a href="/Home/Index"><i class="fa fa-dashboard"></i>home</a></li>
            <li class="active">常用解決方法列表</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">常用解決方法列表</h3>
                    </div>
                    <div class="box-body">
                        <table id="SolutionTable" class="row-border" cellspacing="0" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>方法名稱</th>
                                    <th>方法說明</th>
                                    <th>最後更新日期</th>
                                    <th>操作選項</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var data in Model)
                                {
                                    <tr id="@data.solutionId">
                                        <td>@data.solutionName</td>
                                        <td>@data.description</td>
                                        <td>@Html.DisplayFor(modelItem => data.lastUpdateTime)</td>
                                        <td>
                                            <a href="@Url.Action("Edit", new { id= data.solutionId})" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                                            <a href="#" class="btn btn-sm btn-danger" onclick="setId('@data.solutionId')" data-toggle=modal data-target=#myModal><i class="glyphicon glyphicon-remove"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- delete dialog -->
        <div class="modal modal-danger" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">刪除確認</h4>
                    </div>
                    <div class="modal-body">
                        <p>是否刪除此方法？刪除此方法將一併刪除所有的相關資料。</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">否</button>
                        <button id="modalYes" type="button" class="btn btn-outline" data-dismiss="modal">是</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/Scripts/ListSolution.js"></script>
