@{
    Layout = null;
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header" style="color:#FFFFFF; font-size: 24px;">
                功 能 列 表
                <br />(Function List)
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>基本資料管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>人員管理</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Add", "User")"><i class="fa fa-circle-o"></i>新增人員</a></li>
                            <li><a href="@Url.Action("List", "User")"><i class="fa fa-circle-o"></i>人員列表</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>群組管理</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("AddGroup", "User")"><i class="fa fa-circle-o"></i>新增群組</a></li>
                            <li><a href="@Url.Action("ListGroup", "User")"><i class="fa fa-circle-o"></i>群組列表</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>統計資料</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Exhibition", "Statistic")"><i class="fa fa-circle-o"></i>展示廳正常率</a></li>
                    <li><a href="@Url.Action("ExhibitionItem", "Statistic")"><i class="fa fa-circle-o"></i>展項正常率</a></li>
                    <li><a href="@Url.Action("Facility", "Statistic")"><i class="fa fa-circle-o"></i>體驗設施正常率</a></li>
                    <li><a href="@Url.Action("RankItem", "Statistic")"><i class="fa fa-circle-o"></i>異常排行-展項</a></li>
                    <li><a href="@Url.Action("RankReport", "Statistic")"><i class="fa fa-circle-o"></i>異常排行-通報來源</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>6000 通報作業</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>展示廳</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("AddExhibition", "ReportJob")"><i class="fa fa-circle-o"></i>新增通報</a></li>
                            <li><a href="@Url.Action("EditExhibition", "ReportJob")"><i class="fa fa-circle-o"></i>檢視/修改 通報</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>體驗設施</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("AddExperience", "ReportJob")"><i class="fa fa-circle-o"></i>新增通報</a></li>
                            <li><a href="@Url.Action("EditExperience", "ReportJob")"><i class="fa fa-circle-o"></i>檢視/修改 通報</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>其他設施</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("AddOther", "ReportJob")"><i class="fa fa-circle-o"></i>新增通報</a></li>
                            <li><a href="@Url.Action("EditOther", "ReportJob")"><i class="fa fa-circle-o"></i>檢視/修改 通報</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Query", "ReportJob")"><i class="fa fa-circle-o"></i>整體通報查詢</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>


