@{
    Layout = null;
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header" style="color:#FFFFFF; font-size: 24px;">
                功 能 列 表
                <br />(Function List)
            </li>
            @*基本資料管理*@
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>基本資料管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>人員管理</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("Add", "User")"><i class="fa fa-circle-o"></i>新增人員</a>
                            </li>
                            <li>
                                <a href="@Url.Action("List", "User")"><i class="fa fa-circle-o"></i>人員列表</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>群組管理</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("AddGroup", "User")"><i class="fa fa-circle-o"></i>新增群組</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListGroup", "User")"><i class="fa fa-circle-o"></i>群組列表</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            @*統計資料*@
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>統計資料</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Exhibition", "Statistic")"><i class="fa fa-circle-o"></i>展示廳正常率</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ExhibitionItem", "Statistic")"><i class="fa fa-circle-o"></i>展項正常率</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Facility", "Statistic")"><i class="fa fa-circle-o"></i>體驗設施正常率</a>
                    </li>
                    <li>
                        <a href="@Url.Action("RankItem", "Statistic")"><i class="fa fa-circle-o"></i>異常排行-展項</a>
                    </li>
                    <li>
                        <a href="@Url.Action("RankReport", "Statistic")"><i class="fa fa-circle-o"></i>異常排行-通報來源</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>6000 通報作業</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>展示廳</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("AddExhibition", "ReportJob")"><i class="fa fa-circle-o"></i>新增通報</a>
                            </li>
                            <li>
                                <a href="@Url.Action("EditExhibition", "ReportJob")"><i class="fa fa-circle-o"></i>檢視/修改 通報</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>體驗設施</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("AddExperience", "ReportJob")"><i class="fa fa-circle-o"></i>新增通報</a>
                            </li>
                            <li>
                                <a href="@Url.Action("EditExperience", "ReportJob")"><i class="fa fa-circle-o"></i>檢視/修改 通報</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>其他設施</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("AddOther", "ReportJob")"><i class="fa fa-circle-o"></i>新增通報</a>
                            </li>
                            <li>
                                <a href="@Url.Action("EditOther", "ReportJob")"><i class="fa fa-circle-o"></i>檢視/修改 通報</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Query", "ReportJob")"><i class="fa fa-circle-o"></i>整體通報查詢</a>
                    </li>
                </ul>
            </li>
            @*圖資與設備管理*@
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>圖資與設備管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    @*圖資館理*@
                    <li class="">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>圖資管理</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("AddField", "Information")"><i class="fa fa-circle-o"></i>新增場域</a>
                            </li>
                            <li>
                                <a href="@Url.Action("EditField", "Information")"><i class="fa fa-circle-o"></i>場域檢視/修改</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListField", "Information")"><i class="fa fa-circle-o"></i>場域列表</a>
                            </li>
                        </ul>
                    </li>
                    @*展示廳管理*@
                    <li class="">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>展示廳管理</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("AddExhibition", "Information")"><i class="fa fa-circle-o"></i>新增展示廳</a>
                            </li>
                            <li>
                                <a href="@Url.Action("EditExhibition", "Information")"><i class="fa fa-circle-o"></i>展示廳檢視/修改</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListExhibition", "Information")"><i class="fa fa-circle-o"></i>展示廳列表</a>
                            </li>
                        </ul>
                    </li>
                    @*體驗設施管理*@
                    <li class="">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>體驗設施管理</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("AddDevice", "Information")"><i class="fa fa-circle-o"></i>新增體驗設施</a>
                            </li>
                            <li>
                                <a href="@Url.Action("EditDevice", "Information")"><i class="fa fa-circle-o"></i>體驗設施檢視/修改</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListDevice", "Information")"><i class="fa fa-circle-o"></i>體驗設施列表</a>
                            </li>
                        </ul>
                    </li>
                    @*通報裝置管理*@
                    <li class="">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>通報裝置管理</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("AddNotifyDevice", "Information")"><i class="fa fa-circle-o"></i>新增通報裝置</a>
                            </li>
                            <li>
                                <a href="@Url.Action("EditNotifyDevic", "Information")"><i class="fa fa-circle-o"></i>通報裝置檢視/修改</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListNotifyDevic", "Information")"><i class="fa fa-circle-o"></i>通報裝置列表</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>維修作業</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("PendingList", "MaintenanceWork")"><i class="fa fa-circle-o"></i>待修清單</a></li>
                    <li><a href="@Url.Action("ExtendedWork", "MaintenanceWork")"><i class="fa fa-circle-o"></i>展延作業</a></li>
                    <li><a href="@Url.Action("Query", "MaintenanceWork")"><i class="fa fa-circle-o"></i>維修綜合查詢</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>

