@{
    ViewBag.Title = "智慧巡檢管理系統";
    ViewBag.dispatchWork = "active";
    ViewBag.facilityReport = "active";
}

<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header" style="margin-bottom: 15px;">
            <ol class="breadcrumb">
                <li>
                    <a href="/Home/Index"><i class="fa fa-dashboard"></i>Home</a>
                </li>
                <li class="active">新增體驗設施通報</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">新增體驗設施通報</h3>
                        </div>
                        <br />
                        <form class="form-horizontal"  method="post" action="@Url.Action("AddExp")">
                            <div class="box-body">
                                <div class="form-group">
                                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                                    {
                                        <div class="form-group has-error">
                                            <label class="col-sm-2"></label>
                                            <label class="col-sm-10">@ViewBag.ErrorMsg</label>
                                        </div>
                                    }
                                    <label class="control-label col-md-2" for="exhibitionSelect">展示廳</label>
                                    <div class="col-md-7">
                                        <select class="form-control" id="exhibitionSelect">
                                            <option>----請選擇一個展示廳----</option>
                                            @foreach (var item in ViewBag.exhibitionRooms)
                                             {
                                              <option value="@item.roomId">@item.roomName</option>
                                             }
                                            <option value="experience">不屬於任何展示廳</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="exhibitionSelect">體驗設施</label>
                                    <div class="col-md-7">
                                        <select class="form-control" id="expSelect" name="itemId">
                                            <option value="#">----請選擇一個體驗設施----</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="exhibitionSelect">故障來源</label>
                                    <div class="col-md-7">
                                        <select class="form-control" id="exhibitionSelect" name="sourceId">
                                            <option value="#">----請選擇一個故障來源----</option>
                                            @foreach (var item in ViewBag.reportSources)
                                        {
                                        <option value="@item.sourceId">@item.sourceName</option>
                                        }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="exhibitionSelect">異常狀況</label>
                                    <div class="col-md-7">
                                        <select class="form-control" id="exhibitionSelect" name="abnormalId">
                                            <option value="#">----請選擇一個異常狀況----</option>
                                            @foreach (var item in ViewBag.abnormals)
                                        {
                                        <option value="@item.abnormalId">@item.abnormalName</option>
                                        }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="exhibitionSelect">通報者</label>
                                    <div class="col-md-7">
                                        <select class="form-control" id="exhibitionSelect" name="reporter">
                                            <option value="#">----請選擇一個通報者----</option>
                                            <option value="保全">保全</option>
                                            <option value="志工">志工</option>
                                            <option value="館員">館員</option>
                                            <option value="其他">其他</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-success pull-right">確定新增</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script>

    $('#exhibitionSelect').on('change', function () {
        var val = this.value;       //展示廳的value

        //當第一個選擇結束傳到controller的動作
        $.post(
            '/ReportJob/GetExperience',
            {
                id: val
            },
            function (data) {//data 是 GetItem傳回來的
                var str = '<option value="#">----請選擇一個體驗設施----</option>';
                for (var i = 0; i < data.length; i++) {
                    str += '<option value="' + data[i].itemId + '">' + data[i].itemName + '</option>'
                }
                $('#expSelect').html(str);
            },
            'json'
        ).fail(function () {        //id資料傳送失敗
            alert('選擇傳送至controller失敗');
        });
    });

</script>
