@{
    ViewBag.Title = "整體通報查詢";
}
<!-- daterange picker -->
<link rel="stylesheet" href="~/theme/AdminLTE/plugins/daterangepicker/daterangepicker-bs3.css">
<link rel="stylesheet" href="~/theme/AdminLTE/plugins/select2/select2.min.css">

<div class="wrapper">
    <div class="content-wrapper">
        <!--right corner path-->
        <section class="content-header" style="margin-bottom: 15px;">
            <ol class="breadcrumb">
                <li>
                    <a href="/"><i class="fa fa-dashboard"></i>Home</a>
                </li>
                <li class="active">整體通報查詢</li>
            </ol>
        </section>
        <section class="content">
            <h3>整體通報查詢</h3>
            <!--overall query-->
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info" style="padding: 5px;">
                        <div class="box-header with-border">
                            <h3 class="box-title">篩選條件</h3>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-2" for="startDatePicker">開始日期</label>
                                <div class="input-group col-md-8">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="dateAndTime1">
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-2" for="endDatePicker">結束日期</label>
                                <div class="input-group col-md-8">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="dateAndTime2">
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-2">通報來源</label>
                                <select class="form-control" id="exhibitionSelect" name="sourceId" style="width: 50%;">
                                    <option>----請選擇通報來源----</option>
                                    @foreach (var item in ViewBag.reportSources)
                                    {
                                        <option value="@item.sourceId">@item.sourceName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-2">異常種類</label>
                                <select class="form-control" id="exhibitionSelect" name="abnormalId" style="width: 50%;">
                                    <option>----請選擇一個異常種類----</option>
                                    @foreach (var item in ViewBag.abnormals)
                                    {
                                        <option value="@item.abnormalId">@item.abnormalName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-2">是否結案</label>
                                <select class="form-control select2" style="width: 50%;">
                                    <option selected="selected">是</option>
                                    <option>否</option>
                                </select>
                            </div>
                            <div class="box-body">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success pull-right">查詢</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--consequence list -->
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <!--ExhibitionItem  List-->
                        <div class="box-header">
                            <h3 class="box-title">通報列表-展項</h3>
                        </div>
                        <div class="box-body">
                            <table id="ReportList_Item" class="row-border" cellspacing="0" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>通報來源</th>
                                        <th>展示廳</th>
                                        <th>展項名稱</th>
                                        <th>故障日期時間</th>
                                        <th>故障排除日期時間</th>
                                        <th>是否結案</th>
                                        <th>詳細資料</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="t1">
                                        <td>aa</td>
                                        <td>b</td>
                                        <td>Hello</td>
                                        <td>World</td>
                                        <td>2017-08-08 00:00:00</td>
                                        <td>2017-08-08 00:00:00</td>
                                        <td>
                                            <a href="@Url.Action("ItemDetailedData", "ReportJob")" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                                            @*<a href="#" class="btn btn-sm btn-danger" onclick="" data-toggle=modal data-target=#myModal><i class="glyphicon glyphicon-remove"></i></a>*@
                                        </td>
                                    </tr>
                                    <tr id="t2">
                                        <td>bb</td>
                                        <td>a</td>
                                        <td>chayi</td>
                                        <td>Tinab</td>
                                        <td>2017-9-08 00:00:00</td>
                                        <td>2017-9-07 00:00:00</td>
                                        <td>
                                            <a href="@Url.Action("DetailedData", "ReportJob")" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                                            @*<a href="#" class="btn btn-sm btn-danger" onclick="" data-toggle=modal data-target=#myModal><i class="glyphicon glyphicon-remove"></i></a>*@
                                        </td>
                                    </tr>
                                    <tr id="t3">
                                        <td>cc</td>
                                        <td>c</td>
                                        <td>chayi</td>
                                        <td>Tinab</td>
                                        <td>2017-9-08 00:00:00</td>
                                        <td>2017-9-07 00:00:00</td>
                                        <td>
                                            <a href="@Url.Action("DetailedData", "ReportJob")" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                                            @*<a href="#" class="btn btn-sm btn-danger" onclick="" data-toggle=modal data-target=#myModal><i class="glyphicon glyphicon-remove"></i></a>*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Experience  List-->
                        <div class="box-header">
                            <h3 class="box-title">通報列表-體驗設施</h3>
                        </div>
                        <div class="box-body">
                            <table id="ReportList_Experience" class="row-border" cellspacing="0" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>通報來源</th>
                                        <th>展示廳</th>
                                        <th>設施名稱</th>
                                        <th>故障日期時間</th>
                                        <th>故障排除日期時間</th>
                                        <th>是否結案</th>
                                        <th>詳細資料</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="t1">
                                        <td>aa</td>
                                        <td>b</td>
                                        <td>Hello</td>
                                        <td>World</td>
                                        <td>2017-08-08 00:00:00</td>
                                        <td>2017-08-08 00:00:00</td>
                                        <td>
                                            <a href="@Url.Action("DetailedData", "ReportJob")" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                                            @*<a href="#" class="btn btn-sm btn-danger" onclick="" data-toggle=modal data-target=#myModal><i class="glyphicon glyphicon-remove"></i></a>*@
                                        </td>
                                    </tr>
                                    <tr id="t2">
                                        <td>bb</td>
                                        <td>a</td>
                                        <td>chayi</td>
                                        <td>Tinab</td>
                                        <td>2017-9-08 00:00:00</td>
                                        <td>2017-9-07 00:00:00</td>
                                        <td>
                                            <a href="@Url.Action("DetailedData", "ReportJob")" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                                            @*<a href="#" class="btn btn-sm btn-danger" onclick="" data-toggle=modal data-target=#myModal><i class="glyphicon glyphicon-remove"></i></a>*@
                                        </td>
                                    </tr>
                                    <tr id="t3">
                                        <td>cc</td>
                                        <td>c</td>
                                        <td>chayi</td>
                                        <td>Tinab</td>
                                        <td>2017-9-08 00:00:00</td>
                                        <td>2017-9-07 00:00:00</td>
                                        <td>
                                            <a href="@Url.Action("DetailedData", "ReportJob")" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                                            @*<a href="#" class="btn btn-sm btn-danger" onclick="" data-toggle=modal data-target=#myModal><i class="glyphicon glyphicon-remove"></i></a>*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Other  List-->
                        <div class="box-header">
                            <h3 class="box-title">通報列表-其他設施</h3>
                        </div>
                        <div class="box-body">
                            <table id="ReportList_Other" class="row-border" cellspacing="0" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>通報來源</th>
                                        <th>展示廳</th>
                                        <th>設施名稱</th>
                                        <th>故障日期時間</th>
                                        <th>故障排除日期時間</th>
                                        <th>是否結案</th>
                                        <th>詳細資料</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="t1">
                                        <td>aa</td>
                                        <td>b</td>
                                        <td>Hello</td>
                                        <td>World</td>
                                        <td>2017-08-08 00:00:00</td>
                                        <td>2017-08-08 00:00:00</td>
                                        <td>
                                            <a href="@Url.Action("DetailedData", "ReportJob")" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                                            @*<a href="#" class="btn btn-sm btn-danger" onclick="" data-toggle=modal data-target=#myModal><i class="glyphicon glyphicon-remove"></i></a>*@
                                        </td>
                                    </tr>
                                    <tr id="t2">
                                        <td>bb</td>
                                        <td>a</td>
                                        <td>chayi</td>
                                        <td>Tinab</td>
                                        <td>2017-9-08 00:00:00</td>
                                        <td>2017-9-07 00:00:00</td>
                                        <td>
                                            <a href="@Url.Action("DetailedData", "ReportJob")" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                                            @*<a href="#" class="btn btn-sm btn-danger" onclick="" data-toggle=modal data-target=#myModal><i class="glyphicon glyphicon-remove"></i></a>*@
                                        </td>
                                    </tr>
                                    <tr id="t3">
                                        <td>cc</td>
                                        <td>c</td>
                                        <td>chayi</td>
                                        <td>Tinab</td>
                                        <td>2017-9-08 00:00:00</td>
                                        <td>2017-9-07 00:00:00</td>
                                        <td>
                                            <a href="@Url.Action("DetailedData", "ReportJob")" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                                            @*<a href="#" class="btn btn-sm btn-danger" onclick="" data-toggle=modal data-target=#myModal><i class="glyphicon glyphicon-remove"></i></a>*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="~/theme/AdminLTE/plugins/select2/select2.full.min.js"></script>
<script src="~/Scripts/Query.js"></script>


