@model InspectionWeb.Models.ViewModel.ReportDeviceEditViewModel
@{
    ViewBag.Title = "通報裝置檢視/修改";
}
<!-- x-editable component, Note to include x-editable after core library (bootstrap, jquery-ui)!-->
<link href="~/plugins/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
<script src="~/plugins/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<!-- column order -->
<script src="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.css">
<!-- data table -->
<script src="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.css">

<!--svg-->
<script src="~/Scripts/d3.min.js"></script>
<script src="~/Scripts/rect.js"></script>
<style>
    .parkingBlock {
        fill: lightblue;
        stroke: blue;
        stroke-width: 2px;
        fill-opacity: 0.5
    }
</style>

<script>
    $.fn.editable.defaults.mode = 'inline';
    var allRooms = [];
    var allItems = [];
    var fieldIsChoosed = false;
    $(document).ready(function () {
        $('#name, #description, #deviceCode').editable({
            emptytext: "未設定",
        });

        $('#sourceId').editable({
            value: ["@Model.SourceId"],
            source: [
                @foreach (var item in Model.ReportSources)
                {
                    <text>{value: '@item.sourceId', text: '@item.sourceName'},</text>
                }

            ],
            emptytext: '未設定',
            success: function (response) {
                $('#lastUpdateTime').html(response.lastUpdateTime);
            }
        });

       





        $('#fieldId').editable({
            value: ["@if (@Model.Field != null) {<text>@Model.Field.fieldId</text>}"],
            source: [
                @foreach (var item in Model.Fields)
                {
                    <text>{value: '@item.fieldId', text: '@item.fieldName'},</text>
                }
            ],
            emptytext:'未設定',
            success: function(response) {
                $('#lastUpdateTime').html(response.lastUpdateTime)
                if (response.mapFileName) {
                    loadMap("@Url.Content("~/media/map/")" + response.mapFileName);
                } else {
                    $('#fieldMap').html('');
                }

                allRooms = response.rooms.map(function (obj) {
                    var robj = {};
                    robj.value = obj.roomId;
                    robj.text = obj.roomName;
                    return robj;
                });
            }
        });

        $('#roomId').editable({
            source: function () {
                return allRooms;
            },
            emptytext: '選擇展示廳',
            success: function (response) {
                $('#lastUpdateTime').html(response.lastUpdateTime);
                console.log(allItems);
                allItems = response.items.map(function (obj) {
                    var robj = {};
                    robj.value = obj.itemId;
                    robj.text = obj.itemName;
                    return robj;

                });
            }
        });

        $('#itemId').editable({
            source: function () {
                return allItems;
            },
            emptytext: '選擇展項',
            success: function (response) {
                $('#lastUpdateTime').html(response.lastUpdateTime);
            }
        });

       

         @if (!string.IsNullOrEmpty(Model.MapFileName))
        {
           @:loadMap('@Url.Content("~/media/map/")@Model.MapFileName');
        }
        else {
            <text>$('#fieldMap').html('');</text>
        }

    });

    function onUploadFile(id) {
        $(id).trigger('click');
    }

    function uploadPhoto(obj) {
        var file = obj.files[0];
        $('#photoProgress').css('width', '0%').html('0%');

        var formData = new FormData();
        formData.append('upload', file);
        $.ajax({
            url: "@Url.Content("~/Information/UpdateReportDevicePhoto?deviceId=")@Model.DeviceId",
            type: 'POST',
            contentType: false,
            processData: false,
            cache: false,
            data: formData,
            dataType: 'json',
            xhr: function () {
                var myXhr = $.ajaxSettings.xhr();
                myXhr.upload.addEventListener('progress', function (e) {
                    var progress = parseInt(e.loaded / e.toatal * 100, 10);
                    $('photoProgress').css('width', progress + '%').html(progress + '%');
                }, false);
                return myXhr;
            }
        }).done(function (data) {
            console.log(data);
                if (data) {
                    console.log(data);
                    $('#photo').attr('src', '@Url.Content("~/media/reportDevice/")' + data.photoName + '?timestamp=' + new Date().getTime());
                    $('#photoProgress').css('display', 'none');
                    $('#lastUpdateTime').html(data.lastUpdateTime);
                }
            })

          .fail(function () {
              alert("Sorry, Server unavailable. ");
          });

    }

    // variables for d3
    var svg;
    var dragBehavior;
    var attributesText;

    function loadMap(mapName) {
        $('#fieldMap').load(mapName, status, function () {
            if (status != 'error') {
                svg = d3.select("svg");
               var g = document.createElementNS('http://www.w3.org/2000/svg', 'g');
                g.setAttributeNS(null, 'id', 'parkingBlock_g');
                $('svg').append(g);

                //區塊
                new FixRectangle('', '', @Model.X, @Model.Y, 15, 15);
            }
        });
    }


    function updateParkingBlockRangeToServer(parkingBlockGraphicObject, x, y, width, height) {

        var formData = new FormData();

        formData.append('deviceId', '@Model.DeviceId');
        formData.append('x', parseInt(x, 10));
        formData.append('y', parseInt(y, 10));

        $.ajax({
            url: "@Url.Content("~/Information/SaveReportDeviceSvgChangeToServer")",
            type: 'POST',
            contentType: false,
            processData: false,
            cache: false,
            data: formData,
            dataType: 'json',

        }).done(function (data) {
            console.log(data);
            if (data) {
                $('#lastUpdateTime').html(data.lastUpdateTime);
            }
        })

            .fail(function () {
                alert("Sorry, Server unavailable. ");
            });
    }

</script>
<div class="content-wrapper">
    <section class="content-header" style="margin-bottom: 15px;">
        <section class="content-header" style="margin-bottom: 15px;">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">通報裝置檢視/修改</li>
            </ol>
        </section>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">通報裝置檢視/修改</h3>
                    </div>
                    <!-- form start -->

                    <div class="box-body">
                        <table class="table table-striped table-hover table-bordered" cellspacing="0" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="col-md-3">屬性</th>
                                    <th class="col-md-9">設定值</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*名稱*@
                                <tr>
                                    <td>名稱</td>
                                    <td>
                                        <a href="#" id="name" data-type="text" data-pk="@Model.DeviceId" data-url="@Url.Action("EditNotifyDevice")" data-title="輸入名稱">@Model.Name</a>
                                    </td>
                                </tr>

                                @*裝置類別*@
                                <tr>
                                    <td>裝置類別</td>
                                    <td>
                                        <a href="#" id="sourceId" data-type="select" data-pk="@Model.DeviceId" data-url="@Url.Action("EditNotifyDevice")" data-title="選擇裝置類別"></a>
                                    </td>
                                </tr>

                                @*裝置代碼*@
                                <tr>
                                    <td>裝置代碼</td>
                                    <td>
                                        <a href="#" id="deviceCode" data-type="text" data-pk="@Model.DeviceId" data-url="@Url.Action("EditNotifyDevice")" data-title="輸入裝置代碼">@Model.DeviceCode</a>
                                    </td>
                                </tr>

                                @*說明*@
                                <tr>
                                    <td>說明</td>
                                    <td>
                                        <a href="#" id="description" data-type="text" data-pk="@Model.DeviceId" data-url="@Url.Action("EditNotifyDevice")" data-title="輸入說明">@Model.Description</a>
                                    </td>
                                </tr>

                                @*所屬場域*@
                                <tr>
                                    <td>所屬場域</td>
                                    <td>
                                        <a href="#" id="fieldId" data-type="select" data-pk="@Model.DeviceId" data-url="@Url.Action("EditNotifyDevice")" data-title="選擇場域"></a>
                                    </td>
                                </tr>

                                @*展示廳*@
                                <tr id="roomTr"j>
                                    <td>展示廳</td>
                                    <td>
                                        <a href="#" id="roomId" data-type="select" data-pk="@Model.DeviceId" data-url="@Url.Action("EditNotifyDevice")" data-title="選擇展示廳"></a>
                                    </td>
                                </tr>

                                @*關聯展項*@
                                <tr>
                                    <td>關聯展項</td>
                                    <td>
                                        <a href="#" id="itemId" data-type="select" data-pk="@Model.DeviceId" data-url="@Url.Action("EditNotifyDevice")" data-title="選擇展項">
                                            @if(Model.Item != null)
                                            {
                                                <text>@Model.Item.itemName</text>
                                            }
                                        </a>
                                    </td>
                                </tr>

                              

                                @*安裝位置示意圖*@
                                <tr>
                                    <td>
                                        安裝位置示意圖
                                        <input id="photoUpload" type="file" onchange="uploadPhoto(this)" style="display: none" accept="image/png,image/jpeg">
                                        <div class="btn btn-sm btn-success" onclick="onUploadFile('#photoUpload')">
                                            <i class="fa fa-map"></i>
                                            上傳圖示
                                        </div>
                                    </td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 10px;">
                                            <div id="photoProgress" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                        </div>
                                        <div>
                                            <img id="photo" class="img-responsive" src="@if(@Model.Photo != null){@Url.Content("~/media/reportDevice/"+@Model.Photo)}">
                                        </div>
                                    </td>
                                </tr>

                                @*場域地圖*@
                                <tr>

                                    <td>
                                        場域地圖
                                    </td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 10px;">
                                            <div id="mapProgress" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                        </div>

                                        <div id="fieldMap"></div>

                                    </td>
                                </tr>

                                @*建立日期*@
                                <tr>
                                    <td>建立日期</td>
                                    <td>@Html.DisplayFor(modelItem => @Model.CreateTime)</td>
                                </tr>

                                @*最後更新日期*@
                                <tr>
                                    <td>最後更新日期</td>
                                    <td id="lastUpdateTime">@Html.DisplayFor(modelItem => @Model.LastUpdateTime)</td>
                                </tr>



                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>


            </div>
        </div>

    </section>
</div>

<div class="modal modal-success" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">刪除確認</h4>
            </div>
            <div class="modal-body">
                <p>是否刪除此展項?刪除此展項會將一併刪除所有的相關資料。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">否</button>
                <button id="modalYes" type="button" class="btn btn-outline" data-dismiss="modal">是</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function () {
        $('#infoExhibitItem').DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "columnDefs": [
                { "targets": 0, "width": "40%", "orderable": true },
                { "targets": 1, "width": "40%", "orderable": true },
                { "targets": 2, "width": "20%", "orderable": true },
            ],
        });

        $('#modalYes').on('click', function (e) {
            deleteExhibitionItem();
        });

        function deleteExhibitionItem() {
            @{/* TODO: use jquery AJAX method to send Message to Exhibition controller.
               */
            }
        }
    });
</script>
