@model InspectionWeb.Models.ViewModel.ExhibitionRoomAddViewModel
@{
    ViewBag.Title = "展示廳管理";
}

<script>
    $.fn.editable.defaults.mode = 'inline';

    $(document).ready(function () {
        $('#roomName, #description').editable({
            success: function (response) {
                $('#lastUpdateTime').html(response.lastUpdateTime);
            }
        });

        $('#active').editable({
            value: ['@Model.active'],
            source: [
                { value: 0, text: '不啟用' },
                { value: 1, text: '啟用' },
                { value: 2, text: '維護中' }
            ],
            emptytext: '不啟用',
            success: function (response) {
                $('#lastUpdateTime').html(response.lastUpdateTime)
            }
        });

        $('#inspectionUserId').editable({
            emptytext: '未設定',
            source: [
                // value :選擇後會回傳的值
                // text : value相對應的值, 顯示的是此值
                @foreach (var item in Model.Inspectors)
                {
                    <text>{value: '@item.userId', text: '@item.userName'},</text>
                }
            ],
            success: function (response) {
                $('lastUpdateTime').html(response.lastUpdateTime);
            }
        });

        $('#fieldId').editable({
            emptytext: '未設定',
            source: [
                // value :選擇後會回傳的值
                // text : value相對應的值, 顯示的是此值
                @foreach (var item in Model.Fields)
                {
                    <text>{value: '@item.fieldId', text: '@item.fieldName'},</text>
                }
            ],
            success: function (response) {
                $('lastUpdateTime').html(response.lastUpdateTime);
            }
        });




    });

    // virtually tirgger input file button
    function onUploadFile(id) {
        $(id).trigger('click');
    }




</script>

<div class="content-wrapper">
    <section class="content-header" style="margin-bottom: 15px;">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">展示廳管理</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">展示廳檢視/修改</h3>
                    </div>
                    <!-- form start -->

                    <div class="box-body">
                        <table class="table table-striped table-hover table-bordered" cellspacing="0" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="col-md-3">屬性</th>
                                    <th class="col-md-9">設定值</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*名稱*@
                                <tr>
                                    <td>名稱</td>
                                    <td>
                                        <a href="#" id="roomName" data-type="text" data-pk="@Model.RoomId" data-url="@Url.Action("EditExhibition")" data-title="輸入場域名稱">@Model.RoomName</a>
                                    </td>
                                </tr>

                                @*說明*@
                                <tr>
                                    <td>說明</td>
                                    <td>
                                        <a href="#" id="description" data-type="text" data-pk="@Model.RoomId" data-url="@Url.Action("EditExhibition")" data-title="輸入說明">@Model.Description</a>
                                    </td>
                                </tr>

                                @*場域*@
                                <tr>
                                    <td>場域</td>
                                    <td>
                                        <a href="#" id="fieldId" data-type="select" data-pk="@Model.RoomId" data-url="@Url.Action("EditExhibition")" data-title="選擇場域"></a>
                                    </td>
                                </tr>

                                @*示意圖*@
                                <tr>
                                    <td>
                                        示意圖
                                        <input id="photoUpload" type="file" onchange="uploadPhoto(this)" style="display: none" accept="image/png,image/jpeg">
                                        <div class="btn btn-sm btn-success" onclick="onUploadFile('#photoUpload')">
                                            <i class="fa fa-map"></i>
                                            上傳圖示
                                        </div>
                                    </td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 10px;">
                                            <div id="photoProgress" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                        </div>
                                        <div>
                                            <img id="photo" class="img-responsive" src="@if(@Model.Picture != null){@Url.Content("~/media/exhibition/"+@Model.Picture)}">
                                        </div>
                                    </td>
                                </tr>

                                @*預設巡檢人員*@
                                <tr>
                                    <td>預設巡檢人員</td>
                                    <td>
                                        <a href="#" id="inspectionUserId" data-type="select" data-pk="@Model.RoomId" data-url="@Url.Action("EditExhibition")" data-title="選擇巡檢人員"></a>
                                    </td>
                               </tr>

                                @*承包商*@
                                <tr>
                                    <td>承包商</td>
                                    <td>
                                        @*TODO:承包商選單*@
                                    </td>
                                </tr>

                                @*啟用*@
                                <tr>
                                    <td>啟用</td>
                                    <td>
                                        <a href="#" id="active" data-type="select" data-pk="@Model.RoomId" data-url="@Url.Action("EditExhibition")" data-title="選擇樓層">@Model.active</a>
                                    </td>
                                </tr>

                                @*建立日期*@
                                <tr>
                                    <td>建立日期</td>
                                    <td>@Html.DisplayFor(modelItem => @Model.CreateTime)</td>
                                </tr>

                                @*最後更新日期*@
                                <tr>
                                    <td>最後更新日期</td>
                                    <td id="lastUpdateTime">@Html.DisplayFor(modelItem => @Model.LastUpdateTime)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">展項新增</h3>
                    </div>
                    <div class="box-body">
                        <table id="infoExhibitItem" class="row-border" cellspacing="0" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>展項名稱</th>
                                    <th>建立日期</th>
                                    <th>操作選項</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>AAA</td>
                                    <td>2017-08-08 00:00:00</td>
                                    <td>

                                        @{/* TODO: redirec to correct place
* Action(actionName, controller)
*/}
                                        <a href="@Url.Action("", "")" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                                        <a href="#" class="btn btn-sm btn-danger" onclick="" data-toggle=modal data-target=#myModal><i class="glyphicon glyphicon-remove"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<div class="modal modal-success" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">刪除確認</h4>
            </div>
            <div class="modal-body">
                <p>是否刪除此展項?刪除此展項會將一併刪除所有的相關資料。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">否</button>
                <button id="modalYes" type="button" class="btn btn-outline" data-dismiss="modal">是</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function () {
        $('#infoExhibitItem').DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "columnDefs": [
                { "targets": 0, "width": "40%", "orderable": true },
                { "targets": 1, "width": "40%", "orderable": true },
                { "targets": 2, "width": "20%", "orderable": true },
            ],
        });

        $('#modalYes').on('click', function (e) {
            deleteExhibitionItem();
        });

        function deleteExhibitionItem() {
            @{/* TODO: use jquery AJAX method to send Message to Exhibition controller.
               */
            }
        }
    });
</script>
