@model InspectionWeb.Models.ViewModel.DeviceEditViewModel
@{
    ViewBag.Title = "體驗設施管理";
}
<script>
    $.fn.editable.defaults.mode = 'inline';
    $(document).ready(function () {
        $('#itemName, #description').editable({
            emptytext: "未設定",
            success: function (response) {
                $('#lastUpdateTime').html(response.lastUpdateTime);
            }
        });

        $('#fieldId').editable({
            value: ["@if (@Model.FieldId != null) {<text>@Model.FieldId</text>}"],
            emptytext: '未設定',
            source: [
                // value :選擇後會回傳的值
                // text : value相對應的值, 顯示的是此值
                @foreach (var item in Model.Fields)
                {
                    <text>{ value: '@item.fieldId', text: '@item.fieldName' },</text>
                }
            ],
            success: function (response) {
                $('#lastUpdateTime').html(response.lastUpdateTime);
                if (response.mapFileName) {
                    loadMap("@Url.Content("~/media/map/")" + response.mapFileName);
                } else {
                    $('#fieldMap').html('');
                }
            }
        });

        $('#active').editable({
            value: [@Model.Active],
            source: [
                { value: 0, text: '停用' },
                { value: 1, text: '啟用' },
                { value: 2, text: '維護中' }
            ],
            emptytext: '未設定',
            success: function (response) {
                $('#lastUpdateTime').html(response.lastUpdateTime)
            }
        });

        $('#isLock').editable({
            value: [@Model.IsLock],
            source: [
                { value: 0, text: '否' },
                { value: 1, text: '是' },
            ],
            emptytext: '未設定',
            success: function (response) {
                $('#lastUpdateTime').html(response.lastUpdateTime)
            }
        });

        $('#inspectionUserId').editable({
            value: ["@if (@Model.Inspector != null) {<text>@Model.Inspector.userId</text>}"],
            emptytext: '未設定',
            source: [
                // value :選擇後會回傳的值
                // text : value相對應的值, 顯示的是此值
                @foreach (var item in Model.Inspectors)
                {
                    <text>{ value: '@item.userId', text: '@item.userName' },</text>
                }
            ],
            success: function (response) {
                $('#lastUpdateTime').html(response.lastUpdateTime);
            }
        });


       @if (!string.IsNullOrEmpty(Model.FieldId))
        {
           @:loadMap('@Url.Content("~/media/map/")@Model.FieldId' + '.svg');
        }
        else {
            <text>$('#fieldMap').html('');</text>
        }
    });

     // variables for d3
    var svg;
    var dragBehavior;
    var attributesText;

    function loadMap(mapName) {
        $('#fieldMap').load(mapName, status, function () {
            if (status != 'error') {
                svg = d3.select("svg");
                attributesText = d3.select("#attributestext");
                getSvgChangeFromServer();
                dragBehavior = d3.behavior.drag()
                    .on("drag", dragMove)
                    .on("dragstart", dragStart)
                    .on("dragend", dragEnd);
                svg.call(dragBehavior);
                scalable = false;
            }
        });
    }

    function getSvgChangeFromServer() {
        selectionRect.init(@Model.X, @Model.Y);
        selectionRect.update(@Model.X + 15,@Model.Y + 15);
    }

    function saveSvgChangeToServer() {

        var formData = new FormData();
        var rect = selectionRect.getNewAttributes();

        formData.append('deviceId', '@Model.ItemId');
        formData.append('x', parseInt(rect.x, 10));
        formData.append('y', parseInt(rect.y, 10));

        $.ajax({
            url: "@Url.Content("~/Information/SaveDeviceSvgChangeToServer")",
            type: 'POST',
            contentType: false,
            processData: false,
            cache: false,
            data: formData,
            dataType: 'json',

        }).done(function (data) {
            console.log(data);
            if (data) {
                $('#lastUpdateTime').html(data.lastUpdateTime);
            }
        })

            .fail(function () {
                alert("Sorry, Server unavailable. ");
            });
    }

</script>

<div class="content-wrapper">
    <section class="content-header" style="margin-bottom: 15px;">
        <section class="content-header" style="margin-bottom: 15px;">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">體驗設施檢視/修改</li>
            </ol>
        </section>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">體驗設施檢視/修改</h3>
                    </div>
                    <!-- form start -->

                    <div class="box-body">
                        <table class="table table-striped table-hover table-bordered" cellspacing="0" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="col-md-3">屬性</th>
                                    <th class="col-md-9">設定值</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*體驗設施名稱*@
                                <tr>
                                    <td>體驗設施名稱</td>
                                    <td>
                                        <a href="#" id="itemName" data-type="text" data-pk="@Model.ItemId" data-url="@Url.Action("EditDevice")" data-title="輸入體驗設施名稱">@Model.ItemName</a>
                                    </td>
                                </tr>

                                @*所屬場域*@
                                <tr>
                                    <td>所屬場域</td>
                                    <td>
                                        <a href="#" id="fieldId" data-type="select" data-pk="@Model.ItemId" data-url="@Url.Action("EditDevice")" data-title="選擇場域"></a>
                                    </td>
                                </tr>

                                @*預設巡檢人員*@
                                <tr>
                                    <td>預設巡檢人員</td>
                                    <td>
                                        <a href="#" id="inspectionUserId" data-type="select" data-pk="@Model.ItemId" data-url="@Url.Action("EditDevice")" data-title="輸入預設巡檢人員"></a>
                                    </td>
                                </tr>

                                @*啟用狀態*@
                                <tr>
                                    <td>啟用狀態</td>
                                    <td>
                                        <a href="#" id="active" data-type="select" data-pk="@Model.ItemId" data-url="@Url.Action("EditDevice")" data-title="選擇啟用狀態"></a>
                                    </td>
                                </tr>

                                @*是否鎖定*@
                                <tr>
                                    <td>是否鎖定</td>
                                    <td>
                                        <a href="#" id="isLock" data-type="select" data-pk="@Model.ItemId" data-url="@Url.Action("EditDevice")" data-title="是否鎖定"></a>
                                    </td>
                                </tr>

                                @*場域地圖*@
                                <tr>
                                    <td>場域地圖</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 10px;">
                                            <div id="mapProgress" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                        </div>

                                        <div id="fieldMap"></div>

                                    </td>
                                </tr>

                                @*建立日期*@
                                <tr>
                                    <td>建立日期</td>
                                    <td>@Model.CreateTime.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                </tr>

                                @*最後更新日期*@
                                <tr>
                                    <td>最後更新日期</td>
                                    <td id="lastUpdateTime">@Model.LastUpdateTime.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                </tr>



                            </tbody>
                        </table>
                    </div><!-- /.box-body -->


                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal modal-success" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">刪除確認</h4>
            </div>
            <div class="modal-body">
                <p>是否刪除此體驗設施?刪除此體驗設施會將一併刪除所有的相關資料。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">否</button>
                <button id="modalYes" type="button" class="btn btn-outline" data-dismiss="modal">是</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

