@model IEnumerable<InspectionWeb.Models.ViewModel.ExhibitionRoomListViewModel>
@{
    ViewBag.Title = "展示廳列表";
    ViewBag.imgManage = "active";
    ViewBag.roomManage = "active";
    ViewBag.roomList = "active";
}


<!-- data table -->
<script src="/theme/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="/theme/AdminLTE/plugins/datatables/jquery.dataTables.min.css">
<!-- column order -->
<script src="/theme/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="/theme/AdminLTE/plugins/datatables/dataTables.bootstrap.css">

<div class="content-wrapper">
    <section class="content-header" style="margin-bottom: 15px;">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">展示廳列表</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">展示廳列表</h3>
                    </div>
                    <div class="box-body">
                        <table id="listExhibitionRoomTable" class="row-border" cellspacing="0" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>名稱</th>
                                    <th>場域</th>
                                    <th>樓層</th>
                                    <th>預設巡檢人員</th>
                                    <th>操作選項</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="@item.roomId">
                                        <td>@item.roomName</td>
                                        <td>@item.fieldName</td>
                                        <td>@item.floor</td>
                                        <td>@item.InspectorName</td>

                                        <td>
                                            @*檢視按鈕*@
                                            <a href="@Url.Action("EditExhibition", new { id = item.roomId })" class="btn btn-sm btn-primary">
                                                <i class="glyphicon glyphicon-menu-hamburger"></i>
                                            </a>

                                            @*刪除按鈕*@
                                            <a href="#" class="btn btn-sm btn-danger" onclick="setId('@item.roomId')" data-toggle=modal data-target=#myModal>
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </a>
                                        </td>

                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal modal-success" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">刪除確認</h4>
            </div>
            <div class="modal-body">
                <p>是否刪除此展示廳?刪除此展示廳會將一併刪除所有的相關資料。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">否</button>
                <button id="modalYes" type="button" class="btn btn-outline" data-dismiss="modal">是</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

    var toDeleteRoomId;

    function setId(roomId) {
            toDeleteRoomId = roomId;
    }

    function deleteExhibition() {
        $.ajax({
            type: "DELETE",
            url: 'DeleteExhibitionRoom',
            data: $.param({ "roomId": toDeleteRoomId })
        }).done(function (msg) {
            $("#" + toDeleteRoomId).remove();
        });
    }

    $(document).ready(function () {
        $('#listExhibitionRoomTable').DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "columnDefs": [
                { "targets": 0, "width": "20%", "orderable": true },
                { "targets": 1, "width": "20%", "orderable": true },
                { "targets": 2, "width": "20%", "orderable": true },
                { "targets": 3, "width": "20%", "orderable": true },
                { "targets": 4, "width": "20%", "orderable": true },
            ],
        });

        $('#modalYes').on('click', function (e) {
            deleteExhibition();
        });

       
    });
</script>

