@model InspectionWeb.Models.ViewModel.SystemArgAddViewModel
@{
    ViewBag.Title = "系統參數檢視/修改";
    ViewBag.basicData = "active";
    ViewBag.sysarg = "active";
    ViewBag.sysargList = "active";
}

<!-- data table -->
<script src="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.css">
<!-- column order -->
<script src="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.css">

<!-- x-editable component, Note to include x-editable after core library (bootstrap, jquery-ui)!-->
<link href="~/plugins/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
<script src="~/plugins/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<script>
    $.fn.editable.defaults.mode = 'inline';
    $(document).ready(function () {
        $('#keyName, #description, #value').editable({
            emptytext: "未設定",
        });
    });
  

</script>

<div class="content-wrapper">
    <section class="content-header" style="margin-bottom: 15px;">
        <section class="content-header" style="margin-bottom: 15px;">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">系統參數檢視/修改</li>
            </ol>
        </section>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">系統參數檢視/修改</h3>
                    </div>
                    <!-- form start -->

                    <div class="box-body">
                        <table class="table table-striped table-hover table-bordered" cellspacing="0" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="col-md-3">屬性</th>
                                    <th class="col-md-9">設定值</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*參數名稱*@
                                <tr>
                                    <td>參數名稱</td>
                                    <td>
                                        <a href="#" id="keyName" data-type="text" data-pk="@Model.Id" data-url="@Url.Action("EditSystemArg")" data-title="輸入軟體名稱">@Model.KeyName</a>
                                    </td>
                                </tr>

                                @*說明*@
                                <tr>
                                    <td>說明</td>
                                    <td>
                                        <a href="#" id="description" data-type="text" data-pk="@Model.Id" data-url="@Url.Action("EditSystemArg")" data-title="輸入說明">@Model.Description</a>
                                    </td>
                                </tr>

                                @*參數值*@
                                <tr>
                                    <td>參數值</td>
                                    <td>
                                        <a href="#" id="value" data-type="text" data-pk="@Model.Id" data-url="@Url.Action("EditSystemArg")" data-title="輸入說明">@Model.Value</a>
                                    </td>
                                </tr>

                                 @*建立時間*@
                                <tr>
                                    <td>建立時間</td>
                                    <td>@Model.CreateTime</td>
                                </tr>

                                 @*最後更新時間*@
                                <tr>
                                    <td>最後更新時間</td>
                                    <td>@Model.LastUpdateTime</td>
                              
                            
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->


                </div>
            </div>
        </div>
    </section>
</div>