@model IEnumerable<InspectionWeb.Models.ViewModel.SystemArgAddViewModel>
@{
    ViewBag.Title = "系統參數";
    ViewBag.basicData = "active";
    ViewBag.sysarg = "active";
    ViewBag.sysargList = "active";
}

<!-- data table -->
<script src="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.css">
<!-- column order -->
<script src="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.css">

<div class="content-wrapper">
    <section class="content-header" style="margin-bottom: 15px;">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">系統參數</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">系統參數</h3>
                    </div>
                    <div class="box-body">
                        <table id="listSystemArgTable" class="row-border" cellspacing="0" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>參數名稱</th>
                                    <th>說明</th>
                                    <th>參數值</th>
                                    <th>檢視/修改</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr id="@item.Id">
                                        <td>@item.KeyName</td>
                                        <td>@item.Description</td>
                                        <td>@item.Value</td>

                                        <td>

                                            @*檢視按鈕*@
                                            <a href="@Url.Action("EditSystemArg", new { id = item.Id })" class="btn btn-sm btn-primary">
                                                <i class="glyphicon glyphicon-menu-hamburger"></i>
                                            </a>

                                            @*刪除按鈕*@
                                            <a href="#" class="btn btn-sm btn-danger" onclick="setId('@item.Id')" data-toggle=modal data-target=#myModal>
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal modal-success" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">刪除確認</h4>
            </div>
            <div class="modal-body">
                <p>是否刪除此軟體?刪除此軟體會將一併刪除所有的相關資料。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">否</button>
                <button id="modalYes" type="button" class="btn btn-outline" data-dismiss="modal">是</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    var toDeleteSystemArg;

    function deleteSystemArg() {
        $.ajax({
            type: "DELETE",
            url: 'DeleteSystemArg',
            data: $.param({ "Id": toDeleteSystemArg })
        }).done(function (msg) {
            $("#" + toDeleteSystemArg).remove();
        });
    }

    // 設定刪除的 userId
    function setId(systemArg) {
        toDeleteSystemArg = systemArg;
    }

    $(document).ready(function () {
        // 使用者表格設定
        $('#listSystemArgTable').DataTable({
            "paging": false,
            "info": false,
            "searching": true,
            "columnDefs": [
                { "targets": 0, "width": "25%", "orderable": true },
                { "targets": 1, "width": "25%", "orderable": true },
                { "targets": 2, "width": "25%", "orderable": true },
                { "targets": 3, "width": "25%", "orderable": true },
            ]
        });

        // delete dialog 確定事件
        $('#modalYes').click(function () {
            deleteSystemArg();
        });
    });

</script>

