@model IEnumerable<InspectionWeb.Models.ViewModel.MaintenanceWorkDetailViewModel>
@{
    ViewBag.Title = "展延作業";
    ViewBag.maintain = "active";
    ViewBag.maintainExtend = "active";
}

<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header" style="margin-bottom: 15px;">
            <ol class="breadcrumb">
                <li>
                    <a href="/"><i class="fa fa-dashboard"></i>Home</a>
                </li>
                <li class="active">展延作業</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-body">
                            <table id="PendingList" class="row-border" cellspacing="0" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>通報來源</th>
                                        <th>展示廳</th>
                                        <th>展項/體驗設施</th>
                                        <th>異常情況說明</th>
                                        <th>故障日期時間</th>
                                        <th>預估完工日期</th>
                                        <th>修改日期</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.sourceName</td>
                                            <td>@item.roomName</td>
                                            <td>@item.itemName</td>
                                            <td>@item.description</td>
                                            <td>@Html.DisplayFor(modelItem => item.happendedTime)</td>
                                            <td id="@item.recordId">@Html.DisplayFor(modelItem => item.fixDate)</td>
                                            <td>
                                                <div class="col-md-10 form-group">
                                                    <div class="input-group col-md-8">
                                                        <i class="fa fa-clock-o" name="DateRangePicker" data-pk="@item.recordId"></i>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="~/Scripts/extendedWork.js"></script>


