@model IEnumerable<InspectionWeb.Models.ViewModel.MaintenanceWorkDetailViewModel>

@{
    ViewBag.Title = "待修清單";
    ViewBag.maintain = "active";
    ViewBag.maintainPend = "active";
}

<!-- data table -->
<script src="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.css">
<!-- column order -->
<script src="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.css">

<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header" style="margin-bottom: 15px;">
            <ol class="breadcrumb">
                <li>
                    <a href="/"><i class="fa fa-dashboard"></i>Home</a>
                </li>
                <li class="active">待修清單(未結案)</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-success">
                        <div class="box-body">
                            <table id="PendingList" class="row-border" cellspacing="0" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>通報來源</th>
                                        <th>展示廳</th>
                                        <th>展項/體驗設施</th>
                                        <th>異常情況說明</th>
                                        <th>通報人員</th>
                                        <th>故障日期時間</th>
                                        <th>完工日期時間</th>
                                        <th>詳細資料</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr >
                                            <td>@item.sourceName</td>
                                            <td>@item.roomName</td>
                                            <td>@item.itemName</td>
                                            <td>@item.description</td>
                                            <td>@item.deviceId</td>
                                            <td>@Html.DisplayFor(modelItem => item.happendedTime)</td>
                                            <td>@Html.DisplayFor(modelItem => item.fixDate)</td>
                                            <td>
                                                <a href="@Url.Action("ItemDetailedData/"+item.recordId, "ReportJob")" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                                      
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="~/Scripts/showpedningList.js"></script>