@model IEnumerable<InspectionWeb.Models.ViewModel.GroupDetailViewModel>

@{
    ViewBag.Title = "群組列表";
    ViewBag.basicData = "active";
    ViewBag.groupManage = "active";
    ViewBag.groupList = "active";
}

<!-- data table -->
<script src="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.css">
<!-- column order -->
<script src="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.css">

<div class="content-wrapper">
    <section class="content-header" style="margin-bottom: 15px;">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">群組列表</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">群組列表</h3>
                    </div>
                    <div class="box-body">
                        <table id="groupTable" class="row-border" cellspacing="0" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>群組名稱</th>
                                    <th>超級使用者</th>
                                    <th>系統管理</th>
                                    <th>使用者管理</th>
                                    <th>巡檢管理</th>
                                    <th>一般使用者</th>
                                    <th>建立日期</th>
                                    <th>最後更新日期</th>
                                    <th>操作選項</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="@item.groupId">
                                        <td>@item.groupName</td>
                                        <td>@item.superUser</td>
                                        <td>@item.system</td>
                                        <td>@item.user</td>
                                        <td>@item.dispatch</td>
                                        <td>@item.normal</td>
                                        <td>@Html.DisplayFor(modelItem => item.createTime)</td>
                                        <td>@Html.DisplayFor(modelItem => item.lastUpdateTime)</td>
                                        <td>
                                            <a href="@Url.Action("EditGroup", new { groupId = item.groupId })" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                                            <a href="#" class="btn btn-sm btn-danger" onclick="setId('@item.groupId')" data-toggle=modal data-target=#myModal><i class="glyphicon glyphicon-remove"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- delete dialog -->
        <div class="modal modal-danger" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">刪除確認</h4>
                    </div>
                    <div class="modal-body">
                        <p>是否刪除此群組？刪除此群組會一併刪除所有的相關資料。</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">否</button>
                        <button id="modalYes" type="button" class="btn btn-outline" data-dismiss="modal">是</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    var toDeleteGroupId;

    function deleteGroup() {
        $.ajax({
            type: "DELETE",
            url: 'DeleteGroup',
            data: $.param({ "groupId": toDeleteGroupId })
        }).done(function (data) {
            if (data.success) {
                $("#" + toDeleteGroupId).remove();
                alert(data.msg);
            } else {
                alert(data.msg);
            }
        });
    }

    // 設定刪除的 groupId
    function setId(groupId) {
        toDeleteGroupId = groupId;
    }

    $(document).ready(function () {
        $('#groupTable').DataTable({
            "paging": true,
            "info": false,
            "searching": true,
            "columnDefs": [
                { "targets": 0, "width": "10%", "orderable": true },
                { "targets": 1, "width": "10%", "orderable": true },
                { "targets": 2, "width": "10%", "orderable": true },
                { "targets": 3, "width": "10%", "orderable": true },
                { "targets": 4, "width": "10%", "orderable": true },
                { "targets": 5, "width": "15%", "orderable": true },
                { "targets": 6, "width": "10%", "orderable": true },
                { "targets": 7, "width": "10%", "orderable": true },
                { "targets": 8, "width": "15%", "orderable": false }
            ]
        });

        // delete dialog 確定事件
        $('#modalYes').click(function () {
            deleteGroup();
        });
    });
</script>