@model List<InspectionWeb.Models.ViewModel.NoCheckDateViewModel>

@{
    ViewBag.Title = "AddNonInspetionDispatchDate";
    ViewBag.inspectWork = "active";
    ViewBag.dispatch = "active";
    ViewBag.inspectAdd = "active";
}
<!-- datepicker -->
<link href="../../Scripts/datepicker3.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/jquery-ui.min.js"></script>
<script src="../../Scripts/bootstrap-datepicker.js"></script>
<script src="../../Scripts/locales/bootstrap-datepicker.zh-TW.js"></script>
<!-- data table -->
<script src="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.css">
<!-- column order -->
<script src="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.css">


<script>

    $(function () {
        setNonInspectionTable();
        $('#nonCheckDate').datepicker({
            format: "yyyy/m/d",
            language: 'zh-TW',
            todayHighlight: true
        })
    });

    function fieldValidation(field) {
        if ($.trim($(field).val()) == '') {
            $(field + 'Div').addClass('has-error');
            $(field + 'Div').val('');
            return false;
        } else {
            $(field + 'Div').removeClass('has-error');
        }
        return true;
    }

    function formValidation() {
        if (fieldValidation('#nonCheckDate')) {
            return true;
        }
        return false;
    }
    
    function setNonInspectionTable() {
        $('#nonCheckDateTable').DataTable({
            'columnDefs': [
                { 'targets': 0, 'width': "25%", 'orderable': false },
                { 'targets': 1, 'width': "15%", 'orderable': false },
                { 'targets': 2, 'width': "15%", 'orderable': false },
                { 'targets': 3, 'width': "45%", 'orderable': false }
            ]
        });
    }

    function checkNonCheckDateRepeat() {
        $('#dateRepeatError').css("display", "none");
        var theDate = $('#nonCheckDate').val();
        var days = [];
        @foreach(var item in Model)
        {<text>days.push("@item.noCheckDate");</text>}
        for (i = 0; i < days.length; i++){
            if (days[i] == theDate) {
                $('#dateRepeatError').css("display", "block");
                break;
            }
        }
    }

</script>

<style>
    input.largerCheckbox{
        width: 20px;
        height: 20px;
    }
</style>

<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>非巡檢日期</h1>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">新增非巡檢日期</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-8">
                    <!-- general form elements -->
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <form class="form-horizontal" method="post" action="@Url.Action("AddNonInspectionDispatchDate")" onsubmit="return formValidation();">
                                <div id="nonCheckDateDiv" class="form-group">
                                    <label for="nonCheckDate" class="col-sm-2 control-label">非巡檢日期</label>
                                    <div class="input-group col-sm-6">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="nonCheckDate" name="nonCheckDate" onchange="checkNonCheckDateRepeat()">
                                    </div>
                                    <label id="dateRepeatError" class="col-sm-10 pull-right" style="color:#dd4b39; display:none;">日期已存在，需要修改請使用非巡檢日期修改功能</label>
                                </div>
                                <div id="typeDiv" class="form-group">
                                    <div class="col-sm-12">
                                        <label for="morning" class="col-sm-2 control-label">上午</label>
                                        <input type="checkbox" class="col-sm-1 largerCheckbox" name="morning" id="morning" value="true">
                                        <input type="hidden" name="morning" value="false">
                                        <label for="afternoon" class="col-sm-2 control-label">下午</label>
                                        <input type="checkbox" class="col-sm-1 largerCheckbox" name="afternoon" id="afternoon" value="true">
                                        <input type="hidden" name="afternoon" value="false">
                                    </div>
                                </div>
                                <div id="descriptionDiv" class="form-group">
                                    <label for="description" class="col-sm-2 control-label">原因</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control pull-right" id="description" name="description">
                                    </div>
                                </div>
                                <br/>
                                <input type="hidden" class="form-control pull-right" id="userId" name="userId" value='@Session["userId"]'>
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-success pull-right">確定新增</button>
                                </div>
                            </form>
                         </div><!-- /.box-header -->
                        <div class="box-body">
                            @if (@Model != null && !string.IsNullOrEmpty(@Model.First().ErrorMsg))
                            {
                                <div class="form-group has-error">
                                    <label class="col-sm-2"></label>
                                    <label class="col-sm-10">@Model.First().ErrorMsg</label>
                                </div>
                            }
                            <table id="nonCheckDateTable" class="row-border" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>非巡檢日期</th>
                                        <th>上午</th>
                                        <th>下午</th>
                                        <th>原因</th>
                                    </tr>
                                </thead>
                                @if (@Model != null)
                                {
                                <tbody>
                                @foreach (var item in @Model)
                                {
                                    if (string.IsNullOrEmpty(@item.ErrorMsg)) {
                                        <tr id="@item.id">
                                            <td>@item.noCheckDate</td>
                                             @if (item.am == Convert.ToInt16(true))
                                             {
                                                <td>V</td>
                                             }
                                             else
                                             {
                                                <td>X</td>
                                             }
                                            @if (item.pm == Convert.ToInt16(true))
                                            {
                                                <td>V</td>
                                            }
                                            else
                                            {
                                                <td>X</td>
                                            }
                                             <td>@item.description</td>
                                        </tr>
                                    }
                                }
                                 </tbody>
                                }
                            </table>
                        </div>
                    </div><!-- /.box -->
                </div>
            </div>

            <div class="modal modal-success" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">刪除確認</h4>
                        </div>
                        <div class="modal-body">
                            <p>是否刪除此異常定義？刪除此異常定義會將一併刪除所有的相關資料。</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">否</button>
                            <button id="modalYes" type="button" class="btn btn-outline" data-dismiss="modal">是</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</div><!-- ./wrapper -->
