@model InspectionWeb.Models.ViewModel.ListQueryInspectionByItemViewModel
@{
    ViewBag.Title = "QueryInspectionDispatchByItem";
    ViewBag.inspectWork = "active";
    ViewBag.dispatch = "active";
    ViewBag.inspectQuery = "active";
}

<!--multi select-->
<script src="../../plugins/bootstrap3-select/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="../../plugins/bootstrap3-select/css/bootstrap-select.min.css">
<!-- datepicker -->
<link href="../../Scripts/datepicker3.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/jquery-ui.min.js"></script>
<script src="../../Scripts/bootstrap-datepicker.js"></script>
<script src="../../Scripts/locales/bootstrap-datepicker.zh-TW.js"></script>
<!-- data table -->
<script src="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.css">
<!-- column order -->
<script src="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.css">
<script>

    $(function () {
        setItemInspectionTable();
        $('#queryDateStart').datepicker({
            format: "yyyy/mm/dd",
            language: 'zh-TW',
            todayHighlight: true
        });
        $('#queryDateEnd').datepicker({
            format: "yyyy/mm/dd",
            language: 'zh-TW',
            todayHighlight: true
        });

    });

    function fieldValidation(field) {
        if ($.trim($(field).val()) == '') {
            $(field + 'Div').addClass('has-error');
            $(field + 'Div').val('');
            return false;
        } else {
            $(field + 'Div').removeClass('has-error');
        }
        return true;
    }

    function formValidation() {
        if (fieldValidation('#queryDateStart') && fieldValidation('#queryDateEnd')) {
            return true;
        }
        return false;
    }

    function setItemInspectionTable() {
        $('#itemInspectionTable').DataTable({
            'columnDefs': [
                { 'targets': 0, 'width': "20%", 'orderable': false },
                { 'targets': 1, 'width': "20%", 'orderable': false },
                { 'targets': 2, 'width': "30%", 'orderable': false },
                { 'targets': 3, 'width': "30%", 'orderable': false }
            ]
        });
    }

</script>



<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>巡檢查詢</h1>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">巡檢查詢依體驗設施</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li><a href="@Url.Action("QueryInspectionByRoom")">依展示廳</a></li>
                        <li class="active"><a href="@Url.Action("QueryInspectionByItem")">依體驗設施</a></li>
                        <li><a href="@Url.Action("QueryInspectionByUserId")">依個人</a></li>
                        <li><a href="@Url.Action("QueryInspectionByDate")">依日期彙整結果</a></li>
                    </ul>
                </div>
            </div>.<br>
<div class="row">
    <div class="col-md-8">
        <div class="box box-success">
            <form class="form-horizontal" method="post" action="@Url.Action("QueryInspectionByItem")" onsubmit="return formValidation();">
                <div class="box-body with-border">
                    <div id="queryDateStartDiv" class="form-group">
                        <div class="col-sm-2">
                            <label for="queryDateStart" class="control-label">開始日期</label>
                        </div>
                        <div class="input-group col-sm-3">
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="queryDateStart" name="queryDateStart">
                        </div>
                    </div>
                    <div id="queryDateEndDiv" class="form-group">
                        <div class="col-sm-2">
                            <label for="queryDateEnd" class="control-label">結束日期</label>
                        </div>
                        <div class="input-group col-sm-3">
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="queryDateEnd" name="queryDateEnd">
                        </div>
                    </div>
                    <div id="itemIdDiv" class="form-group">
                        <div class="col-sm-2">
                            <label for="itemId" class="control-label">體驗項目</label>
                        </div>
                        <div class="input-group col-sm-3">
                            <select class="selectpicker" multiple title="複選體驗項目" name="itemId" id="itemId">
                                    @if (@Model != null && @Model.item != null)
                                    {
                                        foreach (var item in @Model.item)
                                        {
                                            <option value="@item.itemId">@item.itemName</option>
                                        }
                                    }
                            </select>

                        </div>
                    </div>
                    <br/>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-success">搜尋</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="box box-success">
            <div class="box-body">
                @if (@Model != null && @Model.startDate != null && @Model.endDate != null)
                {
                    <h4>巡檢日期: @Model.startDate ~ @Model.endDate</h4>
                    <br>
                }
                <table id="itemInspectionTable" class="row-border" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>體驗項目</th>
                            <th>巡檢日期</th>
                            <th>上午巡檢人員</th>
                            <th>下午巡檢人員</th>
                        </tr>
                    </thead>
                    @if (@Model != null && @Model.itemInspectionDispatch != null)
                    {
                        <tbody>
                            @foreach (var item in @Model.itemInspectionDispatch)
                            {
                                <tr id="@item.dispatchId">
                                    <td>@item.itemName</td>
                                    <td>@item.checkDate.Value.ToString("d")</td>
                                    <td>@item.inspectorCode1 @item.inspectorName1</td>
                                    <td>@item.inspectorCode2 @item.inspectorName2</td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</div><!-- ./wrapper -->
